<template name="notFoundLogged">
    <div class="content">
        <div class="row wrapper bg-white">
            <div class="col-lg-12">
                <div class="text-center m-lg p-lg">
                    <h1>ERREUR</h1>

                    <p>
                        Vous pouvez retourner á votre tableau de bord.
                    </p>
                    <a href="{{pathFor route='dashboard'}}" class="btn btn-sm btn-primary">Retournez á votre tableau de bord</a>
                </div>
            </div>
        </div>
    </div>
</template>
