    <template name="calendar">
    {{> pageHeader title="Calendrier" desc="" category="App views" }}

    {{#staggering}}
        <div class="row">
            <div class="text-right">
                 <button type="button" class="btn btn-info" id="monthView">Mois</button>
                <button type="button" class="btn btn-success" id="weekAgenda">Semaine</button>
            </div>
        </div>
        <div class="row">
            {{> fullcalendar calOptions}}
        </div>
    {{/staggering}}
</template>
