<template name="homefooter">
    <div class="container" style="margin-top: 100px">
        <span class="copy-left-left">
            <p>Service provided by
                <a href="http://carelk.com/">CareLk</a>
            </p>
            <a href="#" id="toTop" style="display: block;">
                <span id="toTopHover" style="opacity: 1;"></span>
            </a>
        </span>
        <span class="copy-right-right">
            <ul>
                <li>
                    <a class="facebook" href="#">
                        <span></span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#">
                        <span></span>
                    </a>
                </li>
                <li>
                    <a class="skype" href="#">
                        <span></span>
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </span>
    </div>
    <div class="clearfix"></div>
</template>
