<template name="homeheader">
    <!--- start-header-->
    <div id="home" class="header">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="{{pathFor route='home'}}"><img src="images/CareLK_logo.png" title="doctor"/></a>
                </div>
                <!--start-top-nav-->
                <nav class="doctorweb top-nav">
                    <ul class="top-nav">
                        {{#if learnMore}}
                        <li>
                            <a href="{{pathFor route='home'}}">Acceuil</a>
                        </li>
                        <li>
                            <a href="{{pathFor route='login'}}">Connexion</a>
                        </li>
                        {{else}}
                        <li class="active">
                            <a href="#home" class="scroll">Acceuil</a>
                        </li>
                        <li>
                            <a href="#about" class="scroll">A propos</a>
                        </li>
                        <li>
                            <a href="#services" class="scroll">Nos services</a>
                        </li>
                        <!--  <li><a href="#team" class="scroll">our team</a></li>-->
                        <li>
                            <a href="#contact" class="scroll">Contact</a>
                        </li>
                        <li>
                            <a href="{{pathFor route='login'}}">Connexion</a>
                        </li>
                        {{/if}}
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--- //End-header-->
</template>
