<template name="slider">

   <!-- Slideshow 4 -->
    <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
        <li>
            <img src="images/slider/slide1.jpg" alt="">
            <div class="caption">
            <div class="slide-text-info">
                <h1>providing</h1>
                <label>highquality service for men &amp; women</label>
                <a class="slide-btn" href="/learn-more">learn more</a>
            </div>
            </div>
        </li>
        <li>
            <img src="images/slider/slide1.jpg" alt="">
            <div class="caption">
            <div class="slide-text-info">
                <h1>providing</h1>
                <label>highquality service for men &amp; women</label>
                <a class="slide-btn" href="/learn-more">learn more</a>
            </div>
            </div>
        </li>
        <li>
            <img src="images/slider/slide1.jpg" alt="">
            <div class="caption">
            <div class="slide-text-info">
                <h1>providing</h1>
                <label>highquality service for men &amp; women</label>
                <a class="slide-btn" href="/learn-more">learn more</a>
            </div>
            </div>
        </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
<!-- //End-slider-->
</template>
