<template name="accessDenied">
  <div class="access-denied page jumbotron" style="height:100% !important">
      
      <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h2>Acces refuse</h2>
                     <p>Connetez vous svp</p>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <a class="btn btn-success btn-block" href="{{pathFor route='login'}}">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>MedecinDirect</strong> - MedecinDirect WebApp <br/> 2016 Copyright MedecinDirect
            </div>
        </div>
    </div>
    
    
  </div>
</template>
